{% extends 'app1/base.html' %}
{% block content %}
    <style>
        form {color: brown; padding: 25px 50px 75px 100px;}
    </style>
    <body>
      {% if heading %}
      <h1 style="color: rgb(255, 0, 21); text-align: center;">{{heading}}</h1>
{% endif %} 
        <form method="post" action="">  
            {% csrf_token %}
            <div class="mb-3">
              <label for="text" class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Customer Name" name="cust_name" value="" id="cust_name" required onblur="checkLength()"> <!--Not required-->
          </div>
            <div class="mb-3">
              <label for="text" class="form-label">Mobile Number</label>
              <input type="number" class="form-control" placeholder="Customer Mobile"  name="cust_mob" value = "" required id="cust_mob" onblur="checkNo()">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <script>
            function checkLength()
            {
              document.getElementById('cust_name').value=document.getElementById('cust_name').value.trim()
              // alert(document.getElementById('cust_name').value)
              if (document.getElementById('cust_name').value.length >= 50)
              {
                alert('Please enter the cust_name name below 50 characters');
                document.getElementById('cust_name').value = ""
              }
            }
            function checkNo()
            {
              document.getElementById('cust_mob').value=document.getElementById('cust_mob').value.trim()
              if((document.getElementById('cust_mob').value).length == 10 && parseInt(document.getElementById('cust_mob').value))
              {
                // alert('valid')
              }
              else
              {
                alert('Please enter a valid number with 10 digits.')
                document.getElementById('cust_mob').value = ''
              }
            }
          </script>
    </body>
{% endblock %}
