{% extends 'app1/base.html' %}
{% block content %}
<style>
    form {color: brown; padding: 25px 50px 75px 100px;}
</style>
<body>
  {% if heading %}
  <h1 style="color: rgb(255, 0, 21); text-align: center;">{{heading}}</h1>
{% endif %} 
    <form method="post" action="">  
        {% csrf_token %}
        <div class="mb-3 autocomplete" id="autocomplete">
          <label for="text" class="form-label">Item Name</label>
          <input type="text" class="form-control autocomplete-input" placeholder="Item Name" required name="item" value="" id="item" onblur="checkLength()">
          <ul class="autocomplete-result-list"></ul>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Width</label>
          <input type="text" class="form-control" placeholder="Width" required name="width" value="" step="any" onblur="checkLength()">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Roll No.</label>
            <input type="number" class="form-control" placeholder="NUMERIC ONLY" name="Roll_no" value="" reuired onblur="checkLength()">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Net Weight</label>
            <input type="number" class="form-control" placeholder="NUMERIC ONLY" name="Net_wt" value="" required step="any" onblur="checkLength()">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Gross Weight</label>
            <input type="number" class="form-control" placeholder="NUMERIC ONLY" name="Gr_wt" value="" required step="any" onblur="checkLength()">
        </div>
          <!-- <br> -->
          <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <script>
        function checkLength()
        {
          document.getElementById('item').value=document.getElementById('item').value.trim()
          // alert(document.getElementById('item').value)
          if (document.getElementById('item').value.length >= 50)
          {
            alert('Please enter the item name below 50 characters');
            document.getElementById('item').value = ""
          }
        }

        new Autocomplete('#autocomplete', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${input}&query=item`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
            
        })

      </script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" async defer></script> -->
</body>
{% endblock %}