{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
{% if heading %}
        <h1 style="color: rgb(255, 0, 21); text-align: center;">{{heading}}</h1>
{% endif %}  
        <div class="position-absolute top-50 start-50 translate-middle">
        <div class="modify">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_email" required>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="user_pass" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0" name="login" value="1">Login</button>
              </form>
        </div>
        </div>
{% endblock %}