{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
    <style>
       table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
    </style>
    <body>
        {% if heading %}
        <h1 style="color: rgb(255, 0, 21); text-align: center;">{{heading}}</h1>
        {% endif %}   
<div class="container mt-3" style="overflow-x:auto;">
    {% if stock %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3 autocomplete" id="autocomplete">
          <label for="text" class="form-label">Please Select Option First</label>
          <input type="text" class="form-control autocomplete-input" placeholder="QUERY" required name="query" value="" id="item" onblur="myFunction()" id="spaceRemove">
          <ul class="autocomplete-result-list item"></ul>
        </div>
        <input type="radio" name="choice" value="item_name">Item Name
        <input type="radio" name="choice" value="roll_no.">Roll No.
        <input type="radio" name="choice" value="width">Width
        <input type="radio" name="choice" value="customer_number">Customer Number
        <input type="radio" name="choice" value="customer_name">Customer Name
        <input type="radio" name="choice" value="available&sold">Available&Sold
       
        <input type="submit"  class="btn btn-primary">
    <!-- </form> -->
    {% endif %}
  <table class="table table-hover">
      <thead>
        <tr>
          {% if customer %}
          <th>Serial No.</th>
          <th>Name</th>
          <th>Contact</th>
          {% endif %}
          {% if stock %}
          <th>Serial No.</th>
          <th>ITEM</th>
          <th>ROLL NO. </th>
          <th>WIDTH</th>
          <th>NET WEIGHT</th>
          <th>GROSS WEIGHT</th>
          <th id="soldRemove"onclick="hideShow()">SOLD</th>
          <th onclick="hideShow()">OPERATION</th>
        {% endif %}

        {% if sold %}
        <th>Serial No.</th>
        <th>ITEM</th>
        <th>ROLL NO. </th>
        <th>WIDTH</th>
        <th>NET WEIGHT</th>
        <th>GROSS WEIGHT</th>
        <th>DATE</th>
        <th>CUSTOMER NAME</th>
        <th>CUSTOMER MOB.</th>
        <th>SHORT NARRATION</th>
        <!-- <th>NEW COMMENT</th> -->
        {% endif %}
        </tr>
      </thead>
      <tbody class="addElement">
        {% if customer %}
        {% for data in customer %}
        <tr>
        <th scope="row" class="sno"></th>
          <td class="count">{{data.customer_name}}</td>
          <td>{{data.customer_phone}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if stock %}
        {% for data in stock %}
        <tr class="insertBefore">
          <th scope="row" class="sno"></th>
          <td class="getitemName">{{data.item}}</td>
          <td class="rollNo">{{data.Roll_no}}</td>
          <td class="width_same">{{data.width}}</td>
          <td class="net" style="text-align: center;">{{data.Net_wt}}</td>
          <td class="gross" style="text-align: center;">{{data.Gr_wt}}</td>
          <td class="sellStatus">{{data.sell}}</td>
          <td><div class="form-check">
            <input class="form-check-input itemName" type="checkbox" value="value1" id="flexCheckChecked" name="itemName">
          </div></td>
        </tr>
        {% endfor %}
      </form>
        {% if contentSetting == 1 %}
        <div class="contentSetting"></div>
        {% endif %}
        <tr class="total">
          <td colspan="4" style="text-align: center;">Total All STOCK AVAILABLE & SOLD</td>
          <td class="netWt" style="text-align: center;"></td>
          <td class="Gross" style="text-align: center;"></td>
        </tr>
        {% endif %}
        {% if sold %}
        <!-- <form action="" method="post">
        {% csrf_token %}

        <input type="submit"  class="btn btn-primary"> -->
        
        {% for data in sold %}
        <tr>
          <th scope="row" class="sno"></th>
          <td class="getitemName">{{data.item_purchase.item}}</td>
          <td class="rollNo">{{data.item_purchase.Roll_no}}</td>
          <td class="width">{{data.item_purchase.width}}</td>
          <td  class="net" style="text-align: center;">{{data.item_purchase.Net_wt}}</td>
          <td class="gross" style="text-align: center;">{{data.item_purchase.Gr_wt}}</td>
          <td>{{data.purchase_date}}</td>
          <td>{{data.customer_name.customer_name}}</td>
          <td>{{data.customer_name.customer_phone}}</td>
          <td class="shortNarration" >{{data.short_narration}}</td> <!--  <input type="text"  class="form-control" value="{{data.short_narration}}" onblur="makeChanges(this) />"-->
          <!-- <td ></td> -->
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align: center;">Total</td>
          <td class="netWt" style="text-align: center;"></td>
          <td class="Gross" style="text-align: center;"></td>
        </tr>
      <!-- </form> -->

        {% endif %}
      </tbody>
    </table>
  </div>
  <script src="{% static 'app1/modify.js' %}"></script>
  <script>
  

  </script>
   </body>
{% endblock %}